{% extends 'pages/base.html' %}

{% block head_title %}
Home    
{% endblock head_title %}
    

{% block content %}
    Welcome to <h1>T$T</h1>

    <div id = 'tweets'>
       Loading...
    </div>


    <script>
        const asyncRequst = async (url) => {
            const request = await fetch(url)
            return resultBody = await request.json()
        }
        
        (async () => {
          try{
            const result = await asyncRequst('/tweets')
            console.log(result)
        
           
        
            const finalTweetStr = result.reduce((acc, element, index) => {
              console.log(index)
              console.log(element)
              return acc + `<div class='mb-4'><h1>${element['id']}</h1><p>${element['content']}</p></div>\n`
            }, '')
            var tweetsElement = "";
            document.getElementById('tweets').innerHTML  = finalTweetStr;
          }
          catch(e){
            console.log('Error occured: ', e)
          }
        })()

    </script>
{% endblock  %}
    